@charset "UTF-8";
body,
p,
h1,
ul,
li,
blockquote {
  padding: 0;
  margin: 0; }

body {
  font-family: "Vollkorn", Georgia, serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  display: block;
  max-width: 100%;
  border-radius: 5px; }

/* GRID GERAL */
.wrapper {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: "header header header" "sidenav content announcement" "footer footer footer";
  /* Header */
  /* SIDENAV */
  /*ANNOUNCEMENT*/
  /*FOOTER*/ }
  .wrapper .header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; }
    .wrapper .header .logo {
      max-width: 200px; }
    .wrapper .header nav ul {
      display: flex; }
    .wrapper .header nav a {
      display: block;
      padding: 10px;
      color: #fff;
      font-size: 1.125em;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      transition: 0.1s; }
      .wrapper .header nav a:hover {
        background: rgba(0, 0, 0, 0.5); }
    .wrapper .header li + li {
      margin-left: 30px; }
  .wrapper .sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px; }
    .wrapper .sidenav li a {
      display: block;
      min-width: 60px;
      max-width: 100px;
      margin: 0 auto 30px auto;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
      transition: 0.1s ease-out; }
      .wrapper .sidenav li a:hover {
        background: #b07dfb; }
  .wrapper .content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; }
    .wrapper .content .col-wide {
      grid-column: 1 / -1; }
    .wrapper .content .image-1 {
      grid-row: span 2;
      align-self: end; }
    .wrapper .content .image-2 {
      align-self: end; }
    .wrapper .content p {
      font-size: 1.2em;
      line-height: 1.6;
      letter-spacing: -0.005em;
      color: rgba(0, 0, 0, 0.7); }
    .wrapper .content .title {
      color: #b07dfb; }
      .wrapper .content .title h1 {
        font-size: 3.75em;
        line-height: 1;
        font-weight: 700; }
      .wrapper .content .title span {
        font-size: 0.875em;
        font-style: italic; }
    .wrapper .content .characteristics {
      display: flex;
      align-items: flex-start; }
      .wrapper .content .characteristics span {
        display: block;
        border-radius: 0 0 5px 5px;
        color: #b07dfb; }
      .wrapper .content .characteristics > div {
        width: 80px;
        text-align: center;
        background: linear-gradient(135deg, #8844ee, #b07dfb);
        border-radius: 5px;
        box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
        position: relative; }
        .wrapper .content .characteristics > div:nth-child(1) {
          margin-right: 30px; }
        .wrapper .content .characteristics > div .number {
          color: #b07dfb;
          font-size: 3em;
          line-height: 1;
          margin: 10px auto; }
        .wrapper .content .characteristics > div .label {
          background: #fff;
          padding: 5px 0;
          position: relative;
          top: 2px; }
    .wrapper .content .spotlight {
      font-size: 0.875em;
      color: #b07dfb;
      max-width: 16em; }
    .wrapper .content .cite, .wrapper .content .attributes {
      align-self: start;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
      background: linear-gradient(135deg, #8844ee, #b07dfb); }
    .wrapper .content .cite p {
      font-size: 1,5em;
      font-size: italic;
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      color: #fff; }
    .wrapper .content .attributes li {
      color: #fff;
      font-family: Courier, monospace;
      font-size: 1.125em;
      padding: 15px; }
      .wrapper .content .attributes li + li {
        border-top: 2px solid #b07dfb; }
    .wrapper .content .information p + p {
      margin-top: 30px; }
  .wrapper .announcement {
    grid-area: announcement;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
  .wrapper .footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #b07dfb); }
    .wrapper .footer p {
      color: #fff;
      text-align: center;
      padding: 30px; }

@media (max-width: 1200px) {
  .wrapper {
    grid-template-areas: "header header header" "sidenav content content" "sidenav announcement announcement" "footer footer footer"; } }

@media (max-width: 760px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas: "header" "sidenav" "content" "announcement" "footer"; }
    .wrapper .header {
      grid-template-columns: auto; }
      .wrapper .header .logo {
        margin-bottom: 20px; }
      .wrapper .header nav a {
        font-size: 1em; }
      .wrapper .header + li {
        margin-left: 10px; }
    .wrapper .sidenav {
      position: relative;
      padding: 0 30px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .wrapper .sidenav::after {
        content: '→';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0, 0, 0, 0.3);
        animation: arrow .5s ease-in 0s infinite alternate; }
      .wrapper .sidenav ul {
        display: flex; }
        .wrapper .sidenav ul li {
          flex: 1 0 60px; }
          .wrapper .sidenav ul li a {
            margin: 30px 30px 30px 0; } }

@media (max-width: 600px) {
  img {
    width: 100%; }
  .wrapper .content {
    grid-template-columns: auto; } }

@keyframes arrow {
  from {
    right: 30px; }
  to {
    right: 20px; } }
